<container>
    <row class="collapse">
        <img src="https://unsplash.it/600/300" alt="main image">
    </row>
</container>

<container>
    <spacer size="60"></spacer>
    <row>
        <columns>
            <h2 class="text-center">Клуб – это Ваш шанс преобразить свою жизнь!</h2>
            <spacer size="10"></spacer>
            <p class="text-center">В Клубе у нас много всего интересного. И в следующих 2-х письмах я познакомлю Вас с интерфейсом Вашего аккаунта, чтобы Вы смогли легко и непринужденно им пользоваться. Прорабатывать материалы и достигать поставленных целей.</p>
        </columns>
    </row>
</container>

<container>
    <spacer size="20"></spacer>
    <row>
        <columns>
            <center>
                <button href="#" class="default radius small-expanded">Читать далее</button>
            </center>
        </columns>
    </row>
    <spacer size="50"></spacer>
</container>