<wrapper class="footer-container">
    <container class="footer">
        <spacer size="30"></spacer>
        <row>
            <columns>
                <p class="text-center">&copy 2016 ООО «МИНДГУРУ» Все права защищены.<br>ИНН 7708279722  ОГРН 1167746084032</p>
            </columns>
        </row>
        <row>
            <center>
                <menu>
                    <item>
                        <button href="#" class="tiny secondary radius">Веб-версия</button>
                    </item>
                    <item>
                        <button href="#" class="tiny secondary radius">Настройки подписки</button>
                    </item>
                    <item>
                        <button href="#" class="tiny secondary radius">Отписаться</button>
                    </item>
                </menu>
            </center>
        </row>
        <spacer size="10"></spacer>
    </container>
</wrapper>