<wrapper class="footer-container">
    <container class="footer">
        <spacer size="30"></spacer>
        <row>
            <columns>
                <p class="text-center">&copy 2016 ООО «Интеграционика» Все права защищены.<br>ОГРН 1157746150891 ИНН 7734348348</p>
            </columns>
        </row>
        <row>
            <center>
                <menu>
                    <item>
                        <button href="#" class="tiny secondary radius">Веб-версия</button>
                    </item>
                    <item>
                        <button href="#" class="tiny secondary radius">Настройки подписки</button>
                    </item>
                    <item>
                        <button href="#" class="tiny secondary radius">Отписаться</button>
                    </item>
                </menu>
            </center>
        </row>
        <spacer size="10"></spacer>
    </container>
</wrapper>