<container class="header">
    <spacer size="10"></spacer>
    <row class="collapse">
        <columns large="8" valign="middle">
            {{>header-logo-school}}
        </columns>

        <columns large="4" class="show-for-large">
            <center>
                <menu>
                    <item href="#" class="social-icon"><img src="../assets/img/social_icon_vk@2x.png" alt="Vkontakte"></item>
                    <item href="#" class="social-icon"><img src="../assets/img/social_icon_facebook@2x.png" alt="Facebook"></item>
                    <item href="#" class="social-icon"><img src="../assets/img/social_icon_google-plus@2x.png" alt="Google plus"></item>
                    <item href="#" class="social-icon"><img src="../assets/img/social_icon_youtube@2x.png" alt="YouTube"></item>
                </menu>
            </center>
        </columns>
    </row>
    <spacer size="10"></spacer>
</container>